<div class="px-20 py-10 bg-fixed bg-cover" style="background-image: url('<%= image_url "home-hero.jpg" %>');">
  <h1 class="text-5xl mb-10">Taking care of Hygiene</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam necessitatibus neque a assumenda natus impedit, minus quos hic mollitia, cumque eligendi voluptatum voluptate aspernatur voluptatem? Error minus ea eum molestiae!</p>
</div>

<div class="flex">
  <div class="w-1/2 p-20">
    <h1 class="text-xl mb-5">Here's our system</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum iure deserunt pariatur blanditiis necessitatibus expedita odio modi eveniet praesentium dolor animi ex, sapiente illo quidem veritatis, corrupti ad culpa non!</p>
  </div>
  <div class="w-1/2 bg-teal p-20 text-white">
    <h1 class="text-xl mb-5">Here's our ratings</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum soluta velit ratione accusamus laboriosam reprehenderit illum dignissimos in, laudantium non officia amet porro enim mollitia exercitationem culpa adipisci quia sit?</p>
  </div>
</div>

<%= render "shared/footer" %>
