<div class="p-20 flex">
  <div class="w-1/2 h-96 relative">
    <%= image_tag "studio1.jpg", class:"w-3/4 absolute left-0 top-0" %>
    <%= image_tag "studio2.jpg", class:"w-80 absolute right-0 bottom-0 shadow-xl" %>
  </div>

  <div class="w-1/2 my-auto px-20">
    <h1 class="text-4xl mb-10">Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius similique in fugiat recusandae tenetur laboriosam mollitia nemo! Sequi accusamus et consequuntur inventore, alias ratione, placeat iusto, earum dolor in dolore.</p>
    <div class="w-full flex justify-end mt-10">
      <a href="" class="border border-gray-500 px-20 py-2">Button</a>
    </div>
  </div>
</div>
