<table class="w-full table-striped">
  <tbody class="divide-y">
    <% date_range.each_slice(1) do |week| %>
    <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
    <% week.each do |day| %>
    <%= content_tag :td, class: "#{calendar.td_classes_for(day)} py-6" do %>
    <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
    <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
    <% else %>
    <% passed_block.call day, sorted_events.fetch(day, []) %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>