<p>Hey,</p>

<p>Someone's trying to reset your password. If this was you, please click the link below:</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If this wasn't you, nothing to worry about - please just ignore this email!</p>